<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="title" content="xyz.io - blah blah blah">
    <meta name="description" content="The best site to learn about business infrastructure.">
    <meta name="keywords" content="example, frontend, engineering, crypto">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:image" content="img/image.png">
    <meta property="og:type" content="website">
    <meta property="og:title" content="My Website">
    <meta property="og:url" content="https://example.url">

    <!-- Og tags for social media link sharing-->

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="summary">
    <meta name="twitter:title" content="summary">
    <meta name="twitter:description" content="Twitter showcase link here. Write description similar to search engine result">

    <title>Document</title>


    <!--link rel preload, prefetch for web performance (csgoempire source code)-->
    <!-- Add more meta tags for SEO -->
    <!-- GTAG for Google Analytics -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Roboto|Poppins">
    <!-- <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous" add custom Fontawesome link -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> Bootstrap icons (glyphicons)-->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> Google icons-->

    <!--Note: Requesting multiple fonts may slow down your web pages! So be careful about that.
    Add fonts that match and complement eachother -->

    <link rel="canonical" href="https://www.vg.no">

    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <!--Add inline CSS to content above the fold for better SEO and website load-->
    <header>
        <nav>
            <div id="navigation-bar"> </div>
            <span>
                <ul>
                    <li class="list"></li>
                    <li>
                        <a href="protocol.html">
                            <span aria-hidden="true">01</span>Protocol
                        </a>
                    <li>
                        <a href="products.html">
                            <span aria-hidden="true">02</span>Products
                        </a>
                    <li>
                        <a href="support.html">
                            <span aria-hidden="true">03</span>Support
                        </a>
                    <li>
                        <a href="ir.html">
                            <span aria-hidden="true">04</span>Investor relations
                        </a>
                </ul>
            </span>
        </nav>
    </header>

    <main>
        <article>

            <section>
                <aside>
                </aside>
            </section>
            <section>
            </section>

        </article>
    </main>
    <!--Great copywriting with relevant keywords to website content better for SEO-->
    <!--Add alt tags to pictures, videos and other media for better SEO!-->
    <!--Write as semantic HTML code as possible, e.g <button> instead of <div>-->

        <script src="../js/script.js"></script>

</body>

</html>